.homes-banner {
  background: lightyellow;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 30em;
  width: 100%;
}

.homes-description-container {
  padding: 7% 0% 0% 30%;
}

.homes-banner-description {
  font-family: "Cinzel", serif;
  line-height: 75px;
  text-align: center;
  font-size: 48px;
  color: white;
  width: 500px;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.home-description {
  color: black;
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.home-picture-group {
  display: flex;
  flex-direction: row;
}

.display-image {
  height: 23em;
  width: 85% !important;
  margin: 5%;
  padding: 0% 10%;
}

.image-title-group {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 50%;
}

.home-image-title {
  font-size: 16px;
  color: black;
  font-family: "Cinzel", serif;
  width: 30px;
  height: 20px;
  margin-bottom: -60px;
  text-align: center;
  z-index: 1;
  padding-left: 45%;
  color: white;
}

@media (max-width: 2200px) {
  .home-image-title {
    margin-bottom: -70px;
  }
}

@media (max-width: 1800px) {
  .display-image {
    height: 23em;
    width: 85% !important;
    margin: 5%;
    padding: 0% 5%;
  }

  .home-image-title {
    margin-bottom: -60px;
  }
}

@media (max-width: 768px) {
  .homes-banner {
    background: lightyellow;
    height: 20em;
  }

  .homes-description-container {
    padding: 10% 0% 0% 15%;
  }

  .homes-banner-description {
    font-size: 32px;
  }

  .home-picture-group {
    flex-direction: column;
    align-content: center;
  }

  .image-title-group {
    width: 75%;
    margin-left: 10%;
  }

  .display-image {
    width: 90% !important;
    padding: 0%;
  }
}

@media (max-width: 480px) {
  .homes-description-container {
    padding: 10% 0% 0% -10%;
  }

  .homes-banner-description {
    text-align: left;
  }

  .home-picture-group {
    flex-direction: column;
    align-content: center;
  }

  .display-image {
    height: 15em !important;
    width: 100% !important;
  }

  .home-image-title {
    margin-bottom: -45px;
  }

  .image-title-group {
    width: 95%;
    margin-left: -5px;
  }

  hr {
    border: 1px solid grey;
    width: 95%;
  }
}
